<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="KidsDictionary"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".Dictionary1_1"/>
        <activity android:name=".DetailActivity"/>

        <activity android:name=".Training2_1"/>
        <activity android:name=".Popup2_1_1"/>
        <activity android:name=".Choose2_1_2"/>

        <activity android:name=".Quiz3_1"/>
        <activity android:name=".QuizPopup3_1_1"/>
        <activity android:name=".Picture_Word"/>
        <activity android:name=".Picture_Word_Result"/>
        <activity android:name=".Sound_Picture"/>
        <activity android:name=".Letter_Picture"/>
        <activity android:name=".Dictionary_ListView_Element1_2"/>
        <activity android:name=".Dictionary_Listview_Element1_2_00"/>
        <activity android:name="ListView_Choose"/>
    </application>

</manifest>